<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/paw.svg}">
    <title>Admin || AddPet</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <!-- css class -->
<!--    <link rel="stylesheet" th:href="@{/css/adminStyle.css}">-->
    <link rel="stylesheet" th:href="@{/css/addPet.css}">
    <link rel="stylesheet" th:href="@{/css/pet.css}">

</head>

<body>
    <!-- start of sidebar -->
    <div class="container" style="width: 100% ;background-color: rgba(238,231,225,0.6)">
        <div style="background-color: #defdff ;padding-left: 20px">
            <aside>
                <div class="top">
                    <div class="logo">
                        <img th:src="@{/images/paw.svg}">
                        <h2><b>AniMall</b></h2>
                    </div>
                    <div class="close" id="close-btn">
                        <span class="material-icons-sharp">close</span>
                    </div>
                </div>
                <div>
                    <div class="sidebar">
                        <a th:href="@{~/admin/list}">
                            <span class="material-icons-sharp">
                                person
                            </span>
                            <h3>Customers</h3>
                        </a>

                        <a th:href="@{~/admin/viewallbooking}">
                            <span class="material-icons-sharp">
                                receipt_long
                            </span>
                            <h3>Booking</h3>
                        </a>
                        <a th:href="@{~/admin/viewAllShippings}">
        <span class="material-icons-sharp">
            receipt_long
            </span>        <h3>Shipping</h3>
                        </a>

                        <a th:href="@{~/admin/addpet}" class="active">
                            <span class="material-icons-sharp">
                                add
                            </span>
                            <h3>Add Pets</h3>
                        </a>

                        <a th:href="@{~/admin/viewallpet/0/4}">
                            <span class="material-icons-sharp">
                                pets
                            </span>
                            <h3>Pets</h3>
                        </a>

                        <a th:href="@{~/logout}">
                            <span class="material-icons-sharp">logout</span>
                            <h3>Logout</h3>
                        </a>
                    </div>
                </div>
            </aside>
        </div>
        <main>
            <div class="form-container d-flex justify-content-center">
                <form th:method="post" th:action="@{/admin/savepet}" th:object="${add}" enctype="multipart/form-data" style="width:75% ">
                    <fieldset>
                        <h1 class="text-center mb-2">Add New Pet</h1>

                        <input type="text" hidden="hidden" th:field="*{id}" th:value="${add.id}">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="pet-name">Pet Name<span class="required"></span></label>
                                <input type="text" id="pet-name" class="form-control" required th:field="*{petname}" th:value="${add.petname}">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="breed">Breed<span class="required"></span></label>
                                <input type="text" id="breed" class="form-control" required th:field="*{breed}" th:value="${add.breed}">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="price">Price<span class="required"></span></label>
                                <input type="text" id="price" class="form-control" required th:field="*{price}">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="quantity">Quantity<span class="required"></span></label>
                                <input type="text" id="quantity" class="form-control" required th:field="*{quantity}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="color">Color<span class="required"></span></label>
                            <input type="text" id="color" class="form-control" required th:field="*{color}">
                        </div>

                        <div class="form-group">
                            <label for="category">Category<span class="required"></span></label>
                            <input type="text" id="category" class="form-control" required th:field="*{category}">
                        </div>

                        <div class="form-group">
                            <label for="pet-description">Description<span class="required"></span></label>
                            <textarea id="pet-description" class="form-control" required th:field="*{description}" th:value="${add.description}" rows="4"></textarea>
                        </div>

                        <div class="row">
                            <div class="form-group" style="flex: 0;margin-right: 16px">
                                <label for="file" class="required w-100" style="cursor: pointer;width: 125px;margin-bottom: 8px">Upload Image</label>
                                <input type="file" name="image" id="file" accept="image/*" required onchange="loadFile(event)" style="display: none;">
                                <button class="btn btn-outline-dark w-100" type="submit" style="width: 125px">Add Pet</button>

                            </div>
                            <div class="image-preview">
                            <img id="output" width="200px" />
                        </div>

                        </div>
                    </fieldset>
                </form>
            </div>
        </main>

    </div>
    <script>
        var loadFile = function(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
</body>

</html>