<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/paw.svg}">
  <title>Admin || Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"  >
  <link rel="stylesheet" th:href="@{/css/addPet.css}">
</head>
<body>

<body>
<!-- start of sidebar -->
<div class="container" style="width: 100%;display: inline-grid;margin-left: 8px">
  <div style="background-color: #defdff ">
    <aside>
      <div class="top">
        <div class="logo">
          <img th:src="@{/images/paw.svg}">
          <h2><b>AniMall</b></h2>
        </div>
        <div class="close" id="close-btn">
          <span class="material-icons-sharp">close</span>
        </div>
      </div>
      <div>
        <div class="sidebar">
          <a th:href="@{~/admin/dashboard}" class="active">
        <span class="fa fa-dashboard">
            </span>        <h3>Dashboard</h3>
          </a>
          <a th:href="@{~/admin/list}" >
        <span class="material-icons-sharp">
            person
            </span>        <h3>Customers</h3>
          </a>

          <a th:href="@{~/admin/viewallbooking}">
        <span class="material-icons-sharp">
            receipt_long
            </span>        <h3>Booking</h3>
          </a>
          <a th:href="@{~/admin/viewAllShippings}">
        <span class="fa fa-shipping-fast green-color">

            </span>        <h3>Shipping</h3>
          </a>

          <a th:href="@{~/admin/addpet}" >
        <span class="material-icons-sharp">
            add
            </span>        <h3>Add Pets</h3>
          </a>

          <a th:href="@{~/admin/viewallpet/0/4}">
        <span class="material-icons-sharp">
            pets
            </span>        <h3>Pets</h3>
          </a>

          <a th:href="@{~/logout}">
            <span class="fa fa-sign-out red-color"></span>
            <h3>Logout</h3>
          </a>
        </div>
      </div>

    </aside>
  </div>
  <main>
    <div class="container" style="display:flex;width: 100%;margin-left: -6px">
      <div class=" dashboard-container" style="display:contents;">
        <div class="" style="width: 75%">
          <div >
            <div >
              <div class="dashboard-box total-users">
                <h4>Total Users</h4>
                <i class="fa fa-user "></i>
                <p>1000</p>
                <small>Registered users on the platform</small>
              </div>
            </div>

            <!-- Total Pets -->
            <div class="col-md-4 mt-2">
              <div class="dashboard-box total-pets">
                <h4>Total Pets</h4>
                <i class="fa fa-paw"></i>
                <p>500</p>
                <small>Number of pets available for adoption</small>
              </div>
            </div>

            <!-- Total Sell -->
            <div class="col-md-4 mb-4 mt-2">
              <div class="dashboard-box total-sell">
                <h4>Total Sell</h4>
                <i class="fa fa-money-bill-alt"></i>
                <p>$50,000</p>
                <small>Total revenue generated from sales</small>
              </div>
            </div>

            <!-- Total Profit -->
            <div class="col-md-4 mt-2">
              <div class="dashboard-box total-profit">
                <h4>Total Profit</h4>
                <i class="fa fa-chart-line"></i>
                <p>$20,000</p>
                <small>Total profit earned from sales</small>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // JavaScript code to handle sidebar toggle
  $(document).ready(function () {
    // Toggle the sidebar on small screens
    $("#sidebar-toggle").click(function () {
      $("aside").toggleClass("show-sidebar");
    });

    // Function to handle table filtering based on user input
    $("#searchInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tbody tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  });
</script>


</body>
<!-- Include Bootstrap JS at the end of the body -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
