<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/newIcon.ico}">
  <title>AniMall | About Us</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .social-link {
      width: 30px;
      height: 30px;
      border: 1px solid #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #666;
      border-radius: 50%;
      transition: all 0.3s;
      font-size: 0.9rem;
    }

    .social-link:hover,
    .social-link:focus {
      background: #ddd;
      text-decoration: none;
      color: #555;
    }
  </style>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About Pet Store</h1>
        <p class="lead text-muted mb-0">Your one-stop destination for pet care and adoptions.</p>
        <p class="lead text-muted">We are dedicated to providing loving homes for pets and ensuring their well-being.</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <img th:src="@{~/images/a1.jpg}" alt="About Us" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <i class="fa fa-book fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Our Mission</h2>
        <p class="font-italic text-muted mb-4">At Pet Store, our mission is to connect people with their perfect furry companions and promote responsible pet ownership.</p>
        <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
        <img th:src="@{~/images/a2.jpg}" alt="Mission" class="img-fluid mb-4 mb-lg-0">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto">
        <img th:src="@{~/images/a3.jpg}" alt="Adoptions" class="img-fluid mb-4 mb-lg-0">
      </div>
      <div class="col-lg-6">
        <i class="fa fa-heart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Pet Booking</h2>
        <p class="font-italic text-muted mb-4">We offer a wide range of lovable pets for booking. Each pet is given proper care and love to ensure they find their forever home with a caring family.</p>
        <a th:href="@{~/user/homepage}" class="btn btn-light px-5 rounded-pill shadow-sm">Book Now</a>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Meet Our Team</h2>
        <p class="font-italic text-muted">We are a passionate team of pet lovers dedicated to making a difference in the lives of animals.</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="Manuella Nevoresky" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Lorem Ipsum</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="Samuel Hardy" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Kryss Na</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="Tom Sunderland" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Kryss Na</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="John Tarly" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Kryss Na</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-heart"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>


<!-- footer-bottom-area start -->
<div class="footer-bottom-area" th:fragment="footer-bottom-area" style="background-color: #244949">
  <div class="container" >
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="copyright">
          <p>Copyright © <a href="#">AniMall</a>. All Rights Reserved</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="payment-img">
          <img th:src="@{~/images/payment.png}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer-bottom-area end -->


</body>
<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


</html>
