<html xmlns:th="http://www.thymeleaf.org">

<head >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/newIcon.ico}">
    <title>AniMall</title>

</head>

<body style="display: flex; flex-direction: row;">


<div th:replace="fragments/header :: header"></div>
<div class="container mt-4">
    <form th:action="@{/user/updateprofile/}+${signup.id}" th:object="${signup}" th:method="post">
        <input type="text" class="form-control is-valid" hidden="hidden" name="id" th:value="${signup.id}">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Kryss Admin">
                                </div>
                                <h5 class="user-name">Kryss Na</h5>
                                <h6 class="user-email">yuki@Maxwell.com</h6>
                            </div>
                            <div class="about mt-3">
                                <h5>About</h5>
                                <p>I'm Yuki. Full Stack Designer I enjoy creating user-centric, delightful and human experiences.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-200">
                    <div class="card-body">

                        <div class="row gutters mt-1">
                            <div class="col gutters p-2">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                                    <h6 class="mb-2 text-primary">Personal Details</h6>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ml-2 w-100 mt-2">
                                    <div class="form-group">
                                        <label for="fullname">Full Name</label>
                                        <input type="text" class="form-control" id="fullname" title="name"  name="fullname" th:field="*{fullname}" placeholder="Enter full name" th:value="${signup.fullname}" required>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 w-100 mt-2">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" title="email"  name="email" th:field="*{email}" placeholder="Enter email ID" th:value="${signup.email}" required>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 w-100 mt-2">
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="text" class="form-control" id="phone" title="phone"  name="phone" th:field="*{phone}" placeholder="Enter phone number" th:value="${signup.phone}" required>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 w-100 mt-2">
                                    <div class="form-group">
                                        <label for="age">Age</label>
                                        <input type="name" class="form-control" id="age" title="age"  name="age" th:field="*{age}" placeholder="Enter Age" th:value="${signup.age}" >
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 w-100 mt-2">
                                    <div class="form-group">
                                        <label for="gender">gender</label>
                                        <input type="name" class="form-control" id="gender" title="gender"  name="gender" th:field="*{gender}" placeholder="Enter gender" th:value="${signup.gender}">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 w-100 mt-2">
                                    <div class="form-group">
                                        <label for="country">Country</label>
                                        <input type="text" class="form-control" id="country" title="country"  name="country" th:field="*{country}" placeholder="Enter Country Name" th:value="${signup.country}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col gutters mt-1 p-2 ml-3">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ml-3">
                                    <h6 class="mb-2 text-primary">Update Password</h6>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 w-100 mt-2 ml-3">
                                    <div class="form-group">
                                        <label for="password">Current Password</label>
                                        <input type="password" class="form-control" id="password" title="password"  name="password" placeholder="Enter current password" required>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 w-100 mt-2 ml-3">
                                    <div class="form-group">
                                        <label for="newPassword">New Password</label>
                                        <input type="password"  class="form-control" id="newPassword" placeholder="Enter new password">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-3 p-2 ml-3">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="text-right">
                                            <button type="button" id="cancels" name="submit" class="btn btn-secondary">Cancel</button>
                                            <button type="button" id="updatePassword" name="submit" class="btn btn-primary">Update Password</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters d-flex justify-content-center">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right justify-content-center">
                                    <button type="button" id="cancel" name="submit" class="btn btn-secondary">Cancel</button>
                                    <button type="submit" id="Update" name="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


</body>
</html>